<%
    page = "board"
    sub = 5
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="header">
        <h3>문의내용</h3>
      </div>
      <div class="content">
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:100px;">
            <col>
            <col style="width:100px;">
            <col style="width:200px;">
            <col style="width:100px;">
            <col style="width:200px;">
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">제목</th>
              <td colspan="5">샘플의 유기물 분석을 의뢰</td>
            </tr>
            <tr>
              <th class="bg-gray">작성자</th>
              <td>홍길동</td>
              <th class="bg-gray">등록일</th>
              <td>2018-12-31</td>
              <th class="bg-gray">조회수</th>
              <td>275</td>
            </tr>
            <tr>
              <th class="bg-gray">전화번호</th>
              <td colspan="5">010-1234-5678</td>
            </tr>
            <tr>
              <th class="bg-gray">E-mail</th>
              <td colspan="5">eijfalidf@daum.net</td>
            </tr>
          </tbody>
        </table>
        <div class="board-article">
          
          안녕하세요?<br>
          주식회사 엔게인 서재원 연구원입니다.<br>
          분석하고자 하는 샘플의 유기물 분석을 의뢰하고자 합니다.<br>

          
        </div>
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="header">
        <h3>답변</h3>
      </div>
      <div class="content">
        <div class="board-article">
          
          하세요.
          
        </div>
        
        <div class="board-foot board-foot-border">
          <span>
            <button type="button" class="btn btn-sm btn-flat btn-danger" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[3] %>'"><i class="fa fa-trash" aria-hidden="true"></i> 삭제</button>
            <button type="button" class="btn btn-sm btn-flat btn-primary" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[3] %>'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 수정</button>
          </span>
        </div>
        
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
  </div>
  <div class="col-sm-6 text-right">
    <a href="<%= jsonData.pages[page].children[sub].links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-list" aria-hidden="true"></i> 목록</a>
  </div>
</div>