<%
    page = "board"
    sub = 4
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="form">
          <div class="form-group">
            <label>제목</label>
            <input type="text" placeholder="제목" class="form-control">
          </div>
          <div class="form-group">
            <label>년도/월</label>
            <div class="form-inline">
              <div class="input-group">
                <div data-start-view="4" data-min-view="4" data-date-format="yyyy년" class="input-group date datetime time-width-default">
                  <input type="text" value="" readonly="" class="form-control">
                  <span class="input-group-addon input-group-addon-transparent"><span class="glyphicon glyphicon-th hide"></span><i class="fa fa-calendar" aria-hidden="true"></i></span>
                </div>
                <span class="input-group-addon">/</span>
                <div data-start-view="3" data-min-view="4" data-date-format="MM(mm)" class="input-group date datetime-en time-width-default">
                  <input type="text" value="" readonly="" class="form-control">
                  <span class="input-group-addon input-group-addon-transparent"><span class="glyphicon glyphicon-th hide"></span><i class="fa fa-calendar" aria-hidden="true"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>월호</label>
            <div class="input-group time-width-default">
              <span class="input-group-addon">Vol.</span>
              <input type="text" value="" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label>목록 이미지 <span class="hthin">(권장 이미지 사이즈 : 162 x 211)</span></label>
            <div class="upload-wrap">
              <div class="upload">
                
                <!-- 수정시 등록된 이미지 -->
                <div class="upload-display">
                  <img src="../../images/common/blank.png" alt="" data-src="https://i.imgur.com/uzJcSq7.jpg" class="js-lazy-img js-toggle-img">
                </div>
                <!-- //수정시 등록된 이미지 -->
                
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
            </div>
            <!-- //upload-wrap -->
          </div>
          <!-- //form-group -->
        </div>
        
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>

<div class="row newsletter-chapter">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="header">
        <h3>챕터1</h3>
      </div>
      <div class="content">
        <div class="form">
          <div class="form-group">
            <label>소제목</label>
            <input type="text" placeholder="소제목" class="form-control">
          </div>
          <div class="form-group">
            
            <div style="line-height:400px;text-align:center;background-color:#dfdfdf;">에디터</div>
            
          </div>
          
          <div class="form-group">
            <label>파일첨부</label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
            </div>
            <button type="button" class="btn btn-flat btn-default btn-xs" onclick="uploadAdd(this)"><i class="fa fa-plus" aria-hidden="true"></i> 추가</button>
          </div>
          
        </div>
        
        <div class="board-foot">
          <span>
            <button type="button" class="btn btn-sm btn-flat btn-danger" onclick="removeChapter(this)"><i class="fa fa-minus-circle" aria-hidden="true"></i> 챕터삭제</button>
            <button type="button" class="btn btn-sm btn-flat btn-primary" onclick="addChapter()"><i class="fa fa-plus-circle" aria-hidden="true"></i> 챕터추가</button>
          </span>
        </div>
        
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <a href="<%= jsonData.pages[page].children[sub].links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-times" aria-hidden="true"></i> 취소</a>
    <button type="button" class="btn btn-flat btn-success" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[0] %>'"><i class="fa fa-check" aria-hidden="true"></i> 등록</button>
  </div>
</div>

<script>
function addChapter() {
  $('.newsletter-chapter').last().after('<div class="newsletter-wrap"></div>')
  $('.newsletter-wrap').load('게시판관리_05뉴스레터_04등록수정.html .newsletter-chapter',function(){
    $(this).children().first().unwrap();
    countChapter();
  });
}
function removeChapter(target) {
  if ($('.newsletter-chapter').length != 1 ) {
    $(target).closest('.newsletter-chapter').remove()
    countChapter();
  } else { 
    alert('최소 1개의 Chapter는 유지되어야 합니다.')
  }
}
function countChapter() {
  $('.newsletter-chapter').each(function(idx){
    $(this).find('.header h3').text('챕터'+(idx+1))
  })
}
</script>
