<%
    page = "board"
    sub = 3
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="form">
          <div class="form-group">
            <label>썸네일 이미지</label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload-display">
                  <img src="https://i.imgur.com/5FQ3Fk8.png" alt="" class="upload-thumb" onclick="uploadThumb(this)">
                </div>
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly" value="20160905072349228_NVHMJXHH.jpg">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
            </div>
          </div>
          <div class="form-group">
            <label>제목</label>
            <input type="text" placeholder="제목" class="form-control">
          </div>
          <div class="form-group">
            
            <div style="line-height:400px;text-align:center;background-color:#dfdfdf;">에디터</div>
            
            
            
          </div>
          <div class="form-group">
            <label>파일첨부</label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
            </div>
            <button type="button" class="btn btn-flat btn-default btn-xs" onclick="uploadAdd(this)"><i class="fa fa-plus" aria-hidden="true"></i> 추가</button>
          </div>
        </div>
        
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <a href="<%= jsonData.pages[page].children[sub].links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-times" aria-hidden="true"></i> 취소</a>
    <button type="button" class="btn btn-flat btn-success" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[0] %>'"><i class="fa fa-check" aria-hidden="true"></i> 등록</button>
  </div>
</div>