<%
    page = "board"
    sub = 4
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:100px;">
            <col>
            <col style="width:100px;">
            <col style="width:200px;">
            <col style="width:100px;">
            <col style="width:200px;">
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">제목</th>
              <td colspan="5">특성분석센터 뉴스레터 2017년 11월호</td>
            </tr>
            <tr>
              <th class="bg-gray">작성자</th>
              <td>관리자</td>
              <th class="bg-gray">등록일</th>
              <td>2018-12-31</td>
              <th class="bg-gray">조회수</th>
              <td>275</td>
            </tr>
            <tr>
              <th class="bg-gray">년도/월</th>
              <td colspan="5">2018년 / November</td>
            </tr>
            <tr>
              <th class="bg-gray">월호</th>
              <td colspan="5">Vol. 26</td>
            </tr>
            <tr>
              <th class="bg-gray">목록 이미지</th>
              <td colspan="5">
                <img src="../../images/common/blank.png" alt="" data-src="https://i.imgur.com/uzJcSq7.jpg" class="js-lazy-img js-toggle-img">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:100px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">소제목</th>
              <td>챕터1 제목</td>
            </tr>
            <tr>
              <th class="bg-gray">첨부파일</th>
              <td>
                <i class="fa fa-file-o" aria-hidden="true"></i><a href="" class="link"> 뉴스레터1.pdf</a>
              </td>
            </tr>
          </tbody>
        </table>
        
        <div class="board-article">
          
          뉴스레터 내용
          
        </div>
        
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:100px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">소제목</th>
              <td>챕터2 제목</td>
            </tr>
            <tr>
              <th class="bg-gray">첨부파일</th>
              <td>
                <i class="fa fa-file-o" aria-hidden="true"></i><a href="" class="link"> 뉴스레터2.pdf</a>
              </td>
            </tr>
          </tbody>
        </table>
        
        <div class="board-article">
          
          뉴스레터 내용
          
        </div>
        
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-flat btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> 삭제</button>
  </div>
  <div class="col-sm-6 text-right">
    <button type="button" class="btn btn-flat btn-primary" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[3] %>'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 수정</button>
    <a href="<%= jsonData.pages[page].children[sub].links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-list" aria-hidden="true"></i> 목록</a>
  </div>
</div>