<%
    page = "board"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-6"></div>
  <div class="col-sm-6 text-right">
    <a href="<%= jsonData.pages[page].children[sub].links[3] %>" class="btn btn-success btn-flat"><i class="fa fa-pencil" aria-hidden="true"></i> 등록</a>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="pull-right">
          <div class="form-inline">
            <div class="input-group">
              <select class="form-control">
                <option value="">제목</option>
                <option value="">내용</option>
              </select>
            </div>
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[1] %>'"><span class="fa fa-search" aria-hidden="true"></span><span class="text-hide">검색</span></button>
              </span>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="space-vertical"></div>
        <table class="table board-table">
          <thead>
            <tr>
              <th class="text-center" style="width:60px;">번호</th>
              <th class="text-center">제목</th>
              <th class="text-center" style="width:100px;">등록일</th>
              <th class="text-center" style="width:100px;">등록자</th>
              <th class="text-center" style="width:100px;">조회수</th>
              <th class="text-center" style="width:100px;">상세</th>
            </tr>
          </thead>
          <tbody>
            <% for (i=10; i > 0; i--) { %>
            <tr>
              <td class="text-center"><%= i %></td>
              <td><span class="board-nowrap">제 1회 현미경을 이용한 전기계측 워크숍 안내 제 1회 현미경을 이용한 전기계측 워크숍 안내 제 1회 현미경을 이용한 전기계측 워크숍 안내 제 1회 현미경을 이용한 전기계측 워크숍 안내 제 1회 현미경을 이용한 전기계측 워크숍 안내 제 1회 현미경을 이용한 전기계측 워크숍 안내 제 1회 현미경을 이용한 전기계측 워크숍 안내 제 1회 현미경을 이용한 전기계측 워크숍 안내</span></td>
              <td class="text-center">2017-11-21</td>
              <td class="text-center">관리자</td>
              <td class="text-center">275</td>
              <td class="text-center"><a href="<%= jsonData.pages[page].children[sub].links[2] %>" class="btn btn-default btn-xs btn-flat">보기<i class="fa fa-angle-right"></i></a></td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% include ../_include/_pagination %>
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>