<%
    page = "board"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:100px;">
            <col>
            <col style="width:100px;">
            <col style="width:200px;">
            <col style="width:100px;">
            <col style="width:200px;">
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">제목</th>
              <td colspan="5">제 1회 현미경을 이용한 전기계측 워크숍 안내</td>
            </tr>
            <tr>
              <th class="bg-gray">작성자</th>
              <td>관리자</td>
              <th class="bg-gray">등록일</th>
              <td>2018-12-31</td>
              <th class="bg-gray">조회수</th>
              <td>275</td>
            </tr>
            <tr>
              <th class="bg-gray">첨부파일</th>
              <td colspan="5">
                <i class="fa fa-file-o" aria-hidden="true"></i> <a href="" class="link"> 제 1회 현미경을 이용한 전기계측 워크숍-참가신청서.docx</a>
                <br>
                <i class="fa fa-file-o" aria-hidden="true"></i><a href="" class="link"> 제1회 현미경을 이용한 전기계측 워크숍_최종공지-상세내용.pdf</a>
              </td>
            </tr>
          </tbody>
        </table>
        
        <div class="board-article">
          
          <% include ../_temp/_board_article %>
          
        </div>
        
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-flat btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> 삭제</button>
  </div>
  <div class="col-sm-6 text-right">
    <button type="button" class="btn btn-flat btn-primary" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[3] %>'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 수정</button>
    <a href="<%= jsonData.pages[page].children[sub].links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-list" aria-hidden="true"></i> 목록</a>
  </div>
</div>