<%
    page = "members"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="header">
        <h3>기관정보</h3>
      </div>
      <div class="content">
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:120px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">기관분류</th>
              <td>공공기관</td>
            </tr>
            <tr>
              <th class="bg-gray">기관명(법인명)</th>
              <td>(재)경기문화재단 전곡선사박물관</td>
            </tr>
            <tr>
              <th class="bg-gray">사업자등록번호</th>
              <td>127-82-19270</td>
            </tr>
            <tr>
              <th class="bg-gray">대표자</th>
              <td>(재)경기문화재단 전곡선사박물관</td>
            </tr>
            <tr>
              <th class="bg-gray">사업장주소</th>
              <td>경기도 연천군 전곡읍 평화로 443번길 2</td>
            </tr>
            <tr>
              <th class="bg-gray">업태</th>
              <td>서비스, 제조, 소매, 음식접업, 부동산</td>
            </tr>
            <tr>
              <th class="bg-gray">종목</th>
              <td>기타문화서비스, 출판, 문화상품판매, 휴게음식점, 임대</td>
            </tr>
            <tr>
              <th class="bg-gray">사업자등록증</th>
              <td><button type="button" class="btn btn-default btn-xs btn-flat" data-toggle="modal" data-target="#viewDoc">보기</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- //block-flat -->
  </div>

</div>
<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-flat btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> 삭제</button>
  </div>
  <div class="col-sm-6 text-right">
    <button type="button" class="btn btn-flat btn-primary" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[3] %>'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 수정</button>
    <a href="<%= jsonData.pages[page].children[sub].links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-list" aria-hidden="true"></i> 목록</a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="viewDoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">사업자등록증</h4>
      </div>
      <div class="modal-body">
        <img src="https://aac.kist.re.kr/upload/buisReg/a780cbdf0f5548d8b1d6eda0f8571bdf.jpg" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-primary" data-dismiss="modal">확인</button>
      </div>
    </div>
  </div>
</div>