<%
    page = "members"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-6"></div>
  <div class="col-sm-6 text-right">
    <a href="<%= jsonData.pages[page].children[sub].links[3] %>" class="btn btn-success btn-flat"><i class="fa fa-pencil" aria-hidden="true"></i> 기관등록</a>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="pull-right">
          <div class="input-group">
            <a href="<%= jsonData.pages[page].children[sub].links[3] %>" class="btn btn-primary btn-flat"><i class="fa fa-download" aria-hidden="true"></i> 엑셀다운로드</a>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="pull-right">
          <div class="form-inline">
            <div class="input-group">
              <select class="form-control">
                <option value="">법인명</option>
                <option value="">사업자등록번호</option>
              </select>
            </div>
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[1] %>'"><span class="fa fa-search" aria-hidden="true"></span><span class="text-hide">검색</span></button>
              </span>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <table class="table board-table">
          <thead>
            <tr>
              <th class="text-center" style="width:100px;">분류</th>
              <th class="text-center">기관명(법인명)</th>
              <th class="text-center" style="width:120px;">사업자등록번호</th>
              <th class="text-center" style="width:100px;">대표자</th>
              <th class="text-center" style="">업테</th>
              <th class="text-center" style="">종목</th>
              <th class="text-center" style="width:100px;">사업자등록증</th>
              <th class="text-center" style="width:100px;">상세</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="8" class="board-empty">빈값안내문구</td>
            </tr>
          </tbody>
        </table>
        <% include ../_include/_pagination %>
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>