<%
    page = "members"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="header">
        <h3>회원정보</h3>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-sm-6">
            <table class="table no-strip table-bordered">
              <colgroup>
                <col style="width:120px;">
                <col>
              </colgroup>
              <tbody>
                <tr>
                  <th class="bg-gray">사용자ID</th>
                  <td>admin</td>
                </tr>
                <tr>
                  <th class="bg-gray">이름</th>
                  <td>홍길동순</td>
                </tr>
                <tr>
                  <th class="bg-gray">구분</th>
                  <td>사업자</td>
                </tr>
                <tr>
                  <th class="bg-gray">권한</th>
                  <td>
                    관리자
                    &nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-flat btn-xs btn-default" data-toggle="modal" data-target="#editRank"><i class="fa fa-cog" aria-hidden="true"></i> 권한변경</button>
                  </td>
                </tr>
                <tr>
                  <th class="bg-gray">이메일</th>
                  <td>adminadmin@kist.re.kr</td>
                </tr>
                <tr>
                  <th class="bg-gray">주소</th>
                  <td>(136-791) 서울특별시 성북구 하월곡동 39-1 L5145</td>
                </tr>
                <tr>
                  <th class="bg-gray">전화번호</th>
                  <td>02-958-4949</td>
                </tr>
                <tr>
                  <th class="bg-gray">휴대폰번호</th>
                  <td>010-1234-1234</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-6">
            <table class="table no-strip table-bordered">
              <colgroup>
                <col style="width:200px;">
                <col>
              </colgroup>
              <tbody>
                <tr>
                  <th class="bg-gray">소속기관</th>
                  <td>한국과학기술연구원</td>
                </tr>
                <tr>
                  <th class="bg-gray">소속기관대표자</th>
                  <td>안재평</td>
                </tr>
                <tr>
                  <th class="bg-gray">소속<br>(부서명 or 연구실명)</th>
                  <td>특성분석센터</td>
                </tr>
                <tr>
                  <th class="bg-gray">책임자<br>(부서팀장 or 연구실 교수명)</th>
                  <td>안재평</td>
                </tr>
                <tr>
                  <th class="bg-gray">직위</th>
                  <td>특성분석센터장</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- //block-flat -->
  </div>

</div>

<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="header">
        <h3>임시비밀번호 발급</h3>
      </div>
      <div class="content">
        <p>
          ※ 회원이 이메일주소를 분실한 경우 사용합니다.<br>
          <span class="color-danger">임시비밀번호 발급 시 회원에게 임시비밀번호 전달 및 비밀번호 수정요청을 하셔야 합니다.</span>
        </p>
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:120px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">임시비밀번호</th>
              <td>
                <div class="form-inline">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control">
                    <span class="input-group-btn"><button type="button" class="btn btn-primary">확인</button></span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>

  </div>
</div>

<div class="row">
  <div class="col-sm-6">
  </div>
  <div class="col-sm-6 text-right">
    <a href="<%= jsonData.pages[page].children[sub].links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-list" aria-hidden="true"></i> 목록</a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editRank" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">회원권한변경</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>권한</label>
          <select name="" id="" class="form-control">
            <option value="">일반</option>
            <option value="">차단</option>
            <option value="">관리자</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">취소</button>
        <button type="button" class="btn btn-flat btn-primary">적용</button>
      </div>
    </div>
  </div>
</div>