<%
    page = "members"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="pull-right">
          <div class="form-inline">
            <div class="input-group">
              <select class="form-control">
                <option value="">전체</option>
                <option value="">사용자ID</option>
                <option value="">이름</option>
              </select>
            </div>
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[1] %>'"><span class="fa fa-search" aria-hidden="true"></span><span class="text-hide">검색</span></button>
              </span>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="space-vertical"></div>
        <table class="table board-table">
          <thead>
            <tr>
              <th class="text-center" style="width:220px;">사용자ID</th>
              <th class="text-center" style="width:170px;">이름</th>
              <th class="text-center">이메일</th>
              <th class="text-center" style="width:200px;">가입일</th>
              <th class="text-center" style="width:200px;">최근로그인</th>
              <th class="text-center" style="width:100px;">권한</th>
              <th class="text-center" style="width:100px;">상세</th>
            </tr>
          </thead>
          <tbody>
            <% for (i=10; i > 0; i--) { %>
            <tr>
              <td class="text-center">admin<%= i %></td>
              <td class="text-center">홍길동순</td>
              <td class="text-center"><span class="board-nowrap">adminadminadmin@naver.com</span></td>
              <td class="text-center">2017-11-21 / 14:43:00</td>
              <td class="text-center">2017-11-21 / 14:43:00</td>
              <td class="text-center">관리자</td>
              <td class="text-center"><a href="<%= jsonData.pages[page].children[sub].links[2] %>" class="btn btn-default btn-xs btn-flat">보기<i class="fa fa-angle-right"></i></a></td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% include ../_include/_pagination %>
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>