<%
    page = "members"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-6"></div>
  <div class="col-sm-6 text-right">
    <a href="<%= jsonData.pages[page].children[sub].links[3] %>" class="btn btn-success btn-flat"><i class="fa fa-pencil" aria-hidden="true"></i> 기관등록</a>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="pull-right">
          <div class="input-group">
            <a href="<%= jsonData.pages[page].children[sub].links[3] %>" class="btn btn-primary btn-flat"><i class="fa fa-download" aria-hidden="true"></i> 엑셀다운로드</a>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="space-vertical"></div>
        <div class="pull-right">
          <div class="form-inline">
            <div class="input-group">
              <select class="form-control">
                <option value="">법인명</option>
                <option value="">사업자등록번호</option>
              </select>
            </div>
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[1] %>'"><span class="fa fa-search" aria-hidden="true"></span><span class="text-hide">검색</span></button>
              </span>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="space-vertical"></div>
        <table class="table board-table">
          <thead>
            <tr>
              <th class="text-center" style="width:100px;">분류</th>
              <th class="text-center">기관명(법인명)</th>
              <th class="text-center" style="width:120px;">사업자등록번호</th>
              <th class="text-center" style="width:100px;">대표자</th>
              <th class="text-center" style="">업테</th>
              <th class="text-center" style="">종목</th>
              <th class="text-center" style="width:100px;">사업자등록증</th>
              <th class="text-center" style="width:100px;">상세</th>
            </tr>
          </thead>
          <tbody>
            <% for (i=10; i > 0; i--) { %>
            <tr>
              <td class="text-center">공공기관</td>
              <td class="text-center keep-all">(재)경기문화재단 전곡선사박물관</td>
              <td class="text-center">128-82-19270</td>
              <td class="text-center">조창희</td>
              <td class="text-center keep-all">서비스,제조,소매, 음식접업, 부동산</td>
              <td class="text-center keep-all">기타문화서비스,출판,문화상품판매, 휴게음식점, 임대</td>
              <td class="text-center"><button type="button" class="btn btn-default btn-xs btn-flat" data-toggle="modal" data-target="#viewDoc">보기<i class="fa fa-angle-right"></i></button></td>
              <td class="text-center"><a href="<%= jsonData.pages[page].children[sub].links[2] %>" class="btn btn-default btn-xs btn-flat">보기<i class="fa fa-angle-right"></i></a></td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% include ../_include/_pagination %>
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="viewDoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">사업자등록증</h4>
      </div>
      <div class="modal-body">
        <img src="https://aac.kist.re.kr/upload/buisReg/a780cbdf0f5548d8b1d6eda0f8571bdf.jpg" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-primary" data-dismiss="modal">확인</button>
      </div>
    </div>
  </div>
</div>