<%
    page = "members"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="header">
        <div class="pull-left">
          <h3>기관정보</h3>
        </div>
        <div class="pull-right"><b class="color-danger">*</b> 항목은 필수입력입니다.</div>
        <div class="clearfix"></div>
      </div>
      <div class="content">
        <div class="form">
          <div class="form-group">
            <label>기관분류 <b class="color-danger">*</b></label>
            <label class="radio-inline">
              <span class="form-radio"><input type="radio" name="inlineRadioOptions" id="" value="option1"><i></i></span> 벤처기업
            </label>
            <label class="radio-inline">
              <span class="form-radio"><input type="radio" name="inlineRadioOptions" id="" value="option2"><i></i></span> 중소기업/중견기업/연구소(민간)
            </label>
            <label class="radio-inline">
              <span class="form-radio"><input type="radio" name="inlineRadioOptions" id="" value="option3"><i></i></span> 공공기관(출연연)
            </label>
            <label class="radio-inline">
              <span class="form-radio"><input type="radio" name="inlineRadioOptions" id="" value="option4"><i></i></span> 교육기관
            </label>
            <label class="radio-inline">
              <span class="form-radio"><input type="radio" name="inlineRadioOptions" id="" value="option5"><i></i></span> 대기업
            </label>
            <!-- <label class="radio-inline">
              <span class="form-radio"><input type="radio" name="inlineRadioOptions" id="" value="option2"><i></i></span> 국외
            </label> -->
          </div>
          <div class="form-group">
            <label>기관명(법인명) <b class="color-danger">*</b></label>
            <input type="text" placeholder="기관명(법인명)" class="form-control">
          </div>
          <div class="form-group">
            <label>사업자등록번호 <b class="color-danger">*</b></label>
            <div class="form-inline">
              <div class="input-group">
                <div class="input-group">
                  <input size="3" maxlength="3" type="text" value="" class="form-control">
                </div>
                <span class="input-group-addon">-</span>
                <div class="input-group">
                  <input size="2" maxlength="2" type="text" value="" class="form-control">
                </div>
                <span class="input-group-addon">-</span>
                <div class="input-group">
                  <input size="5" maxlength="5" type="text" value="" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>대표자 <b class="color-danger">*</b></label>
            <input type="text" placeholder="대표자" class="form-control">
          </div>
          <div class="form-group">
            <label>사업장주소 <b class="color-danger">*</b></label>
            <input type="text" placeholder="사업장주소" class="form-control">
          </div>
          <div class="form-group">
            <label>업태</label>
            <input type="text" placeholder="사업장주소" class="form-control">
          </div>
          <div class="form-group">
            <label>종목</label>
            <input type="text" placeholder="사업장주소" class="form-control">
          </div>
          <div class="form-group">
            <label>사업자등록증</label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <!-- //block-flat -->
  </div>

</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <a href="<%= jsonData.pages[page].children[sub].links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-times" aria-hidden="true"></i> 취소</a>
    <button type="button" class="btn btn-flat btn-success" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[0] %>'"><i class="fa fa-check" aria-hidden="true"></i> 등록</button>
  </div>
</div>

<script>
function tableRowAdd(target) {
  // console.log($(target).html())
  var clone = $(target).find('tr').last().clone()
  var inputText = clone.find('input')
  inputText.each(function(){ inputText.val("") })
  $(target).find('tbody').append(clone)
}
function tableRowDel(target) {
  var p = $(target).closest('tbody').find('tr').length;
  var text = $(target).closest('tr').find('input[type=text]')
  if (p == 1) {
    $(text).val(""); 
  } else {
    $(target).closest('tr').remove()
  }
}
</script>
