<%
    page = "researchers"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="header">
        <div class="pull-right"><b class="color-danger">*</b> 항목은 필수입력입니다.</div>
        <div class="clearfix"></div>
      </div>
      <div class="content">
        <div class="pull-right">
          <button type="button" class="btn btn-sm btn-flat btn-info" data-toggle="modal" data-target="#modal1"><i class="fa fa-window-restore" aria-hidden="true"></i> 선택등록</button>
        </div>
        <div class="clearfix"></div>
        <div class="form">
          <div class="form-group">
            <label>소속팀 <b class="color-danger">*</b></label>
            <select name="" id="" class="form-control form-inline">
              <option value="">가속기분석팀</option>
              <option value="">화학분석팀</option>
              <option value="">표면분석팀</option>
              <option value="">전자현미경 분석팀</option>
            </select>
          </div>
          <div class="form-group">
            <label>연구원 이름 <b class="color-danger">*</b></label>
            <input type="text" placeholder="이름" class="form-control">
          </div>
          <div class="form-group">
            <label>직급 <b class="color-danger">*</b></label>
            <select name="" id="" class="form-control form-inline">
              <option value="">기술원</option>
              <option value="">사무행정</option>
              <option value="">선임연구원</option>
              <option value="">선임전문원</option>
              <option value="">연구원</option>
              <option value="">위촉연구원</option>
              <option value="">인턴</option>
              <option value="">전문원</option>
              <option value="">책임연구원</option>
              <option value="">책임전문원</option>
              <option value="">학연</option>
              <option value="">해외전문가</option>
            </select>
          </div>
          <div class="form-group">
            <label>전화번호 <b class="color-danger">*</b></label>
            <div class="form-inline">
              <div class="input-group">
                <div class="input-group">
                  <input size="3" maxlength="3" type="text" value="" class="form-control">
                </div>
                <span class="input-group-addon">-</span>
                <div class="input-group">
                  <input size="4" maxlength="4" type="text" value="" class="form-control">
                </div>
                <span class="input-group-addon">-</span>
                <div class="input-group">
                  <input size="4" maxlength="4" type="text" value="" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>이메일</label>
            <input type="text" placeholder="이메일" class="form-control">
          </div>
          <div class="form-group">
            <label>주요연구분야 <b class="color-danger">*</b></label>
            <textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="주요 연구 분야 &quot;,&quot; 구분 작성&#13;&#10;ex)ㅁㅁ,ㅇㅇㅇ,ㅈㅈㅈ,ㅂㅂㅂㅂ"></textarea>
          </div>
          <div class="form-group">
            <label>사이트노출</label>
            <label class="radio-inline">
              <span class="form-radio"><input type="radio" name="inlineRadioOptions" id="" value="option1" checked><i></i></span> 노출
            </label>
            <label class="radio-inline">
              <span class="form-radio"><input type="radio" name="inlineRadioOptions" id="" value="option2"><i></i></span> 비노출
            </label>
          </div>
        </div>
        
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <a href="<%= jsonData.pages[page].children[sub].links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-times" aria-hidden="true"></i> 취소</a>
    <button type="button" class="btn btn-flat btn-success" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[0] %>'"><i class="fa fa-check" aria-hidden="true"></i> 등록</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">제목</h4>
      </div>
      <div class="modal-body">
        <div class="height-fixed" style="max-height:186px;">
          <table class="table board-table">
            <thead>
              <tr>
                <th class="text-center">이름</th>
                <th class="text-center">전화번호</th>
                <th class="text-center">이메일</th>
                <th class="text-center">직급</th>
                <th class="text-center" style="width:100px;">선택등록</th>
              </tr>
            </thead>
            <tbody>
              <% for (i=10; i > 0; i--) { %>
              <tr>
                <td class="text-center">홍길동</td>
                <td class="text-center">010-2223-1111</td>
                <td class="text-center">id@maidlfs.com</td>
                <td class="text-center">책임연구원</td>
                <td class="text-center"><button type="button" class="btn btn-default btn-xs btn-flat" data-dismiss="modal" aria-label="Close">선택</a></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-primary" data-dismiss="modal">확인</button>
      </div>
    </div>
  </div>
</div>