<%
    page = "members"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:100px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">소속팀</th>
              <td>가속기팀</td>
            </tr>
            <tr>
              <th class="bg-gray">연구원이름</th>
              <td>홍길동</td>
            </tr>
            <tr>
              <th class="bg-gray">직급</th>
              <td>책임연구원</td>
            </tr>
            <tr>
              <th class="bg-gray">분류</th>
              <td>연구원</td>
            </tr>
            <tr>
              <th class="bg-gray">전화번호</th>
              <td>010-2121-2121</td>
            </tr>
            <tr>
              <th class="bg-gray">이메일</th>
              <td>dafd@mdfdf.com</td>
            </tr>
            <tr>
              <th class="bg-gray">주요연구분야</th>
              <td>물리학, 표면분석, XAS, EXAFS, XPS;MELS</td>
            </tr>
            <tr>
              <th class="bg-gray">사이트 노출</th>
              <td>노출</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- //block-flat -->
  </div>

</div>
<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-flat btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> 삭제</button>
  </div>
  <div class="col-sm-6 text-right">
    <button type="button" class="btn btn-flat btn-primary" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[3] %>'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 수정</button>
    <a href="<%= jsonData.pages[page].children[sub].links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-list" aria-hidden="true"></i> 목록</a>
  </div>
</div>