<%
    page = "education"
    sub = 2
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="pull-right">
          <div class="input-group">
            <a href="<%= jsonData.pages[page].children[sub].links[3] %>" class="btn btn-primary btn-flat"><i class="fa fa-download" aria-hidden="true"></i> 엑셀다운로드</a>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="space-vertical"></div>
        <div class="pull-left">
          <div class="form-inline">
            <div class="input-group">
              <select class="form-control">
                <option value="">전체</option>
                <option value="">교육</option>
                <option value="">세미나</option>
                <option value="">워크샵</option>
              </select>
            </div>
          </div>
        </div>
        <div class="pull-right">
          <div class="form-inline">
            <div class="input-group">
              <select class="form-control">
                <option value="">제목</option>
                <option value="">내용</option>
              </select>
            </div>
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[1] %>'"><span class="fa fa-search" aria-hidden="true"></span><span class="text-hide">검색</span></button>
              </span>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="space-vertical"></div>
        <table class="table board-table">
          <thead>
            <tr>
              <th class="text-center" style="width:60px;">번호</th>
              <th class="text-center" style="width:80px;">구분</th>
              <th class="text-center">교육명</th>
              <th class="text-center" style="width:100px;">신청자</th>
              <th class="text-center" style="width:120px;">연락처</th>
              <th class="text-center" style="width:300px;">소속</th>
              <th class="text-center" style="width:100px;">상세</th>
            </tr>
          </thead>
          <tbody>
            <% for (i=10; i > 0; i--) { %>
            <tr>
              <td class="text-center"><%= i %></td>
              <td class="text-center">
                <% if (i%3 == 0) { %>
                세미나
                <% } else if (i%2 == 0) { %>
                워크샵
                <% } else { %>
                교육
                <% } %>
              </td>
              <td><span class="board-nowrap">무기원소 분석에 이론 및 실습</span></td>
              <td class="text-center">홍길동순</td>
              <td class="text-center">010-1111-1111</td>
              <td class="text-center">한국과학기술 한국과학기술 연구원</td>
              <td class="text-center"><a href="<%= jsonData.pages[page].children[sub].links[2] %>" class="btn btn-default btn-xs btn-flat">보기<i class="fa fa-angle-right"></i></a></td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% include ../_include/_pagination %>
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>