<%
    page = "education"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-6"></div>
  <div class="col-sm-6 text-right">
    <a href="<%= jsonData.pages[page].children[sub].links[3] %>" class="btn btn-success btn-flat"><i class="fa fa-pencil" aria-hidden="true"></i> 등록</a>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="pull-left">
          <div class="form-inline">
            <div class="input-group">
              <select class="form-control">
                <option value="">전체</option>
                <option value="">세미나</option>
                <option value="">워크샵</option>
              </select>
            </div>
          </div>
          <div class="form-inline">
            <div class="input-group">
              <select class="form-control">
                <option value="">전체</option>
                <option value="">접수대기</option>
                <option value="">접수중</option>
                <option value="">접수마감</option>
              </select>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="space-vertical"></div>
        <table class="table board-table">
          <thead>
            <tr>
              <th class="text-center" style="width:60px;">번호</th>
              <th class="text-center" style="width:80px;">구분</th>
              <th class="text-center" style="width:80px;">상태</th>
              <th class="text-center">교육명</th>
              <th class="text-center" style="width:200px;">교육시간</th>
              <th class="text-center" style="width:200px;">접수기간</th>
              <th class="text-center" style="width:100px;">정원</th>
              <th class="text-center" style="width:100px;">조회수</th>
              <th class="text-center" style="width:100px;">상세</th>
            </tr>
          </thead>
          <tbody>
            <% for (i=10; i > 0; i--) { %>
            <tr>
              <td class="text-center"><%= i %></td>
              <td class="text-center">
                <% if (i%2 == 0) { %>
                세미나
                <% } else { %>
                워크샵
                <% } %>
              </td>
              <td class="text-center">
                <% if (i%5 == 0) { %>
                <span class="label label-success">접수중</span>
                <% } else if (i%3 == 0) { %>
                <span class="label label-primary">접수완료</span>
                <% } else if (i%2 == 0) { %>
                <span class="label label-warning">접수대기</span>
                <% } else { %>
                <span class="label label-default">접수마감</span>
                <% } %>
              </td>
              <td><span class="board-nowrap">무기원소 분석에 이론 및 실습</span></td>
              <td class="text-center">2017-11-21 / 14:30~16:00</td>
              <td class="text-center">2017-12-01 ~ 2017-12-05</td>
              <td class="text-center">10</td>
              <td class="text-center">275</td>
              <td class="text-center"><a href="<%= jsonData.pages[page].children[sub].links[2] %>" class="btn btn-default btn-xs btn-flat">보기<i class="fa fa-angle-right"></i></a></td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% include ../_include/_pagination %>
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>