<%
    page = "education"
    sub = 2
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:200px;">
            <col>
            <col style="width:200px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">신청기관 <b class="color-danger">*</b></th>
              <td>한국과학기술연구원</td>
              <th class="bg-gray">대표자 <b class="color-danger">*</b></th>
              <td>홍길동</td>
            </tr>
            <tr>
              <th class="bg-gray">구분 <b class="color-danger">*</b></th>
              <td colspan="3">사업자</td>
            </tr>
            <tr>
              <th class="bg-gray">주소 <b class="color-danger">*</b></th>
              <td colspan="3">서울특별시 성북구 하월곡동 39-1   L51</td>
            </tr>
          </tbody>
        </table>
        
        <div class="space-vertical"></div>
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:200px;">
            <col>
            <col style="width:200px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">신청자 <b class="color-danger">*</b></th>
              <td>홍길동</td>
              <th class="bg-gray">신청자 직위 <b class="color-danger">*</b></th>
              <td>센터장</td>
            </tr>
            <tr>
              <th class="bg-gray">소속<br>(부서명 or 연구실명)</th>
              <td>분석실</td>
              <th class="bg-gray">책임자<br>(부서팀장 or 연구실 교수명)</th>
              <td>김길동</td>
            </tr>
            <tr>
              <th class="bg-gray">전화번호 <b class="color-danger">*</b></th>
              <td>02-958-1212</td>
              <th class="bg-gray">휴대폰번호 <b class="color-danger">*</b></th>
              <td>010-222-1212</td>
            </tr>
            <tr>
              <th class="bg-gray">이메일 <b class="color-danger">*</b></th>
              <td colspan="3">asdd@naver.com</td>
            </tr>
            <tr>
              <th class="bg-gray">신청일자 <b class="color-danger">*</b></th>
              <td colspan="3">2018-08-20</td>
            </tr>
          </tbody>
        </table>
        
        <div class="space-vertical"></div>
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:200px;">
            <col>
            <col style="width:200px;">
            <col>
          </colgroup>
            <tr>
              <th class="bg-gray">교육/세미나명 <b class="color-danger">*</b></th>
              <td colspan="3">X-ray Open Lab ; TOPAS Workshop</td>
            </tr>
            <tr>
              <th class="bg-gray">분석장비 <b class="color-danger">*</b></th>
              <td colspan="3">X-Ray 교육</td>
            </tr>
            <tr>
              <th class="bg-gray">기타 요청사항</th>
              <td colspan="3"> 교육 시 준비사항 미리 알려주시면 감사하겠습니다.</td>
            </tr>
            <tr>
              <th class="bg-gray">결제 방법 <b class="color-danger">*</b></th>
              <td colspan="3"> 카드결제 </td>
            </tr>
          </tbody>
        </table>
        
        <div class="space-vertical"></div>
        <h4>계산서발급</h4>
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:200px;">
            <col>
            <col style="width:200px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">담당자(법인명) <b class="color-danger">*</b></th>
              <td>홍길동</td>
              <th class="bg-gray">전화번호 <b class="color-danger">*</b></th>
              <td>02-958-1212</td>
            </tr>
            <tr>
              <th class="bg-gray">이메일 <b class="color-danger">*</b></th>
              <td colspan="3">asdd@naver.com</td>
            </tr>
          </tbody>
        </table>
        
        <div class="space-vertical"></div>
        <h4>사업자 등록증 정보</h4>
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:200px;">
            <col>
            <col style="width:200px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">등록번호 <b class="color-danger">*</b></th>
              <td>1098802974</td>
              <th class="bg-gray">상호(법인명) <b class="color-danger">*</b></th>
              <td>클립스</td>
            </tr>
            <tr>
              <th class="bg-gray">대표자 <b class="color-danger">*</b></th>
              <td>홍길동</td>
              <th class="bg-gray">업태∙종목 <b class="color-danger">*</b></th>
              <td>서비스업</td>
            </tr>
            <tr>
              <th class="bg-gray">사업장주소 <b class="color-danger">*</b></th>
              <td colspan="3">서울특별시 영등포구 여의도동 00번지 </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- //block-flat -->
  </div>

</div>
<div class="row">
  <div class="col-sm-6">
  </div>
  <div class="col-sm-6 text-right">
    <a href="<%= jsonData.pages[page].children[sub].links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-list" aria-hidden="true"></i> 목록</a>
  </div>
</div>