<%
    page = "requests"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat no-padding">
      <div class="content">
        <table class="table no-border blue">
          <thead>
            <tr>
              <th class="text-center" style="width:1%">전체</th>
              <th class="text-center" style="width:1%">신청</th>
              <th class="text-center" style="width:1%">접수승인</th>
              <th class="text-center" style="width:1%">반려</th>
              <th class="text-center" style="width:1%">분석완료</th>
              <th class="text-center" style="width:1%">입금의뢰</th>
              <th class="text-center" style="width:1%">입금완료</th>
              <th class="text-center" style="width:1%">성적/결과</th>
              <th class="text-center" style="width:1%">수입의뢰완료</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">9678</td>
              <td class="text-center">155</td>
              <td class="text-center">445</td>
              <td class="text-center">801</td>
              <td class="text-center">39</td>
              <td class="text-center">336</td>
              <td class="text-center">39</td>
              <td class="text-center">78</td>
              <td class="text-center">7785</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="pull-right">
          <div class="input-group">
            <a href="#" class="btn btn-primary btn-flat">2016이전보기</a>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="space-vertical"></div>
        <div class="pull-left">
          <div class="form-inline">
            <div class="input-group">
              <select class="form-control">
                <option value="">전체</option>
                <option value="">구분</option>
                <option value="">의뢰일</option>
                <option value="">완료일</option>
                <option value="">진행상태</option>
              </select>
            </div>
          </div>
        </div>
        <div class="pull-right">
          <div class="form-inline">
            <div class="input-group">
              <select class="form-control">
                <option value="">의뢰자소속</option>
                <option value="">의뢰자명</option>
                <option value="">시료명</option>
              </select>
            </div>
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[1] %>'"><span class="fa fa-search" aria-hidden="true"></span><span class="text-hide">검색</span></button>
              </span>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="space-vertical"></div>
        <table class="table no-strip table-bordered board-table table-double table-lg">
          <colgroup>
            <col style="width:50px;">
            <col style="width:100px;">
            <col>
            <col style="width:140px">
            <col style="width:300px">
            <col style="width:100px">
            <col style="width:100px">
            <col style="width:">
            <col style="width:70px">
          </colgroup>
          <thead>
            <tr>
              <th class="text-center" rowspan="2">구분</th>
              <th class="text-center">접수번호</th>
              <th class="text-center">의뢰자소속</th>
              <th class="text-center">분석장비</th>
              <th class="text-center">시료명</th>
              <th class="text-center">의뢰일</th>
              <th class="text-center">입금완료일</th>
              <th class="text-center" rowspan="2">시험성정석</th>
              <th class="text-center" rowspan="2">상세</th>
            </tr>
            <tr>
              <th class="text-center">진행상태</th>
              <th class="text-center">의뢰자명</th>
              <th class="text-center">분석담당자</th>
              <th class="text-center">분석료</th>
              <th class="text-center">완료일</th>
              <th class="text-center">계산서발행일</th>
            </tr>
          </thead>
          <tbody>
            <% for (i=10; i > 0; i--) { %>
            <tr>
              <td class="text-center" rowspan="2">외부</td>
              <td class="text-center">17125031<%= i %></td>
              <td class="text-center">서울시립대학교 산학협력단(서울시립대학교 산학협력단)</td>
              <td class="text-center">AAS</td>
              <td class="text-center">DNA RNA 입자</td>
              <td class="text-center">2018-02-27</td>
              <td class="text-center">2018-03-30</td>
              
              
              
              <td class="text-center" rowspan="2">IST 일반성적서 KOLAS 공인성적서</td>
              <td class="text-center" rowspan="2"><a href="<%= jsonData.pages[page].children[sub].links[2] %>" class="btn btn-default btn-xs btn-flat">보기<i class="fa fa-angle-right"></i></a></td>
            </tr>
            <tr>
              <td class="text-center">
                <% if (i%3 == 0) { %>
                <span class="label label-success">분석완료</span>
                <% } else { %>
                <span class="label label-warning">입금의뢰</span>
                <% } %>
              </td>
              <td class="text-center">홍길동</td>
              <td class="text-center">홍길동</td>
              <td class="text-center">1,650,000</td>
              <td class="text-center">2018-03-27</td>
              <td class="text-center">2018-03-30</td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% include ../_include/_pagination %>
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>