<%
    page = "requests"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="pull-right">
          <div class="input-group">
            <a href="#" class="btn btn-primary btn-flat">2016이전보기</a>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="space-vertical"></div>
        <div class="pull-left">
          <div class="form-inline">
            <div class="input-group">
              <select class="form-control">
                <option value="">전체</option>
                <option value="">구분</option>
                <option value="">의뢰일</option>
                <option value="">완료일</option>
                <option value="">진행상태</option>
              </select>
            </div>
          </div>
        </div>
        <div class="pull-right">
          <div class="form-inline">
            <div class="input-group">
              <select class="form-control">
                <option value="">의뢰자소속</option>
                <option value="">의뢰자명</option>
                <option value="">시료명</option>
              </select>
            </div>
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[1] %>'"><span class="fa fa-search" aria-hidden="true"></span><span class="text-hide">검색</span></button>
              </span>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="space-vertical"></div>
        <table class="table no-strip table-bordered board-table table-double table-lg">
          <colgroup>
            <col style="width:50px;">
            <col style="width:100px;">
            <col>
            <col style="width:140px">
            <col style="width:140px">
            <col style="width:100px">
            <col style="width:100px">
            <col style="width:">
            <col style="width:70px">
          </colgroup>
          <thead>
            <tr>
              <th class="text-center" rowspan="2">구분</th>
              <th class="text-center">접수번호</th>
              <th class="text-center">의뢰자소속</th>
              <th class="text-center">분석장비</th>
              <th class="text-center">시료명</th>
              <th class="text-center">의뢰일</th>
              <th class="text-center">입금완료일</th>
              <th class="text-center" rowspan="2">시험성정석</th>
              <th class="text-center" rowspan="2">상세</th>
            </tr>
            <tr>
              <th class="text-center">진행상태</th>
              <th class="text-center">의뢰자명</th>
              <th class="text-center">분석담당자</th>
              <th class="text-center">분석료</th>
              <th class="text-center">완료일</th>
              <th class="text-center">계산서발행일</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="9" class="board-empty">빈값안내문구</td>
            </tr>
          </tbody>
        </table>
        <% include ../_include/_pagination %>
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>