<%
    page = "requests"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>

<div class="form-inline">
  <select class="form-control">
    <option value="">가속기 분석팀</option>
    <option value="">화학 분석팀</option>
    <option value="">구조/표면 분석팀</option>
    <option value="">전자현미경 분석팀</option>
    <option value="">NMR팀</option>
  </select>
</div>

<div class="space-vertical"></div>

<div class="tab-container">
  <ul class="nav nav-tabs">
    <li class="active"><a href="<%= jsonData.pages[page].children[sub].links[0] %>">PC</a></li>
    <li><a href="<%= jsonData.pages[page].children[sub].links[1] %>">Mobile</a></li>
  </ul>
  <!-- //nav -->
  <div class="tab-content">
    <p>* 이용수수료 화면의 내용을 이미지로 등록합니다.</p>
    <table class="table no-strip table-bordered">
      <colgroup>
        <col style="width:150px;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <th class="active">종류1</th>
          <td>
            <p class="text-warning">
              권장 이미지 사이즈 : 가로 1240px, 세로 제한없음<br>
              100MB 이내 이미지를 등록할 수 있습니다.
            </p>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload-display">
                  <img src="../../images/common/blank.png" alt="" data-src="https://i.imgur.com/uzJcSq7.jpg" class="js-lazy-img js-toggle-img">
                </div>
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
            </div>
          </td>
        </tr>
        <tr>
          <th class="active">종류2</th>
          <td>
            <p class="text-warning">
              권장 이미지 사이즈 : 가로 1240px, 세로 제한없음<br>
              100MB 이내 이미지를 등록할 수 있습니다.
            </p>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload-display">
                  <img src="../../images/common/blank.png" alt="" data-src="https://i.imgur.com/uzJcSq7.jpg" class="js-lazy-img js-toggle-img">
                </div>
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
            </div>
          </td>
        </tr>
        <tr>
          <th class="active">종류3</th>
          <td>
            <p class="text-warning">
              권장 이미지 사이즈 : 가로 1240px, 세로 제한없음<br>
              100MB 이내 이미지를 등록할 수 있습니다.
            </p>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload-display">
                  <img src="../../images/common/blank.png" alt="" data-src="https://i.imgur.com/uzJcSq7.jpg" class="js-lazy-img js-toggle-img">
                </div>
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- //tab-content -->
</div>
<!-- //tab-container -->

<div class="row">
  <div class="col-sm-12 text-center">
    <button type="button" class="btn btn-flat btn-primary"><i class="fa fa-check" aria-hidden="true"></i> 등록</button>
  </div>
</div>