<%
    page = "requests"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="header">
        <h3>분석의뢰신청내역</h3>
      </div>
      <div class="content">
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:140px;">
            <col>
            <col style="width:140px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">진행상태</th>
              <td class="color-primary weight-bold">입금완료</td>
              <th class="bg-gray">예약확정일</th>
              <td class="color-primary font-bold">2018-09-30 (10:00)  ~ 2018-09-30 (12:00)</td>
            </tr>
          </tbody>
        </table>
        <div class="space-vertical"></div>
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:140px;">
            <col>
            <col style="width:140px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">의뢰기관</th>
              <td>엠에스몰드</td>
              <th class="bg-gray">대표자</th>
              <td>이연중</td>
            </tr>
            <tr>
              <th class="bg-gray">주소</th>
              <td colspan="3">경기 군포시 당정동 0000 엠에스몰드</td>
            </tr>
            <tr>
              <th class="bg-gray">의뢰자</th>
              <td>이연중</td>
              <th class="bg-gray">의뢰자 직위</th>
              <td>대리</td>
            </tr>
            <tr>
              <th class="bg-gray">전화번호</th>
              <td>02-1111-1111</td>
              <th class="bg-gray">휴대폰번호</th>
              <td>010-0000-0000</td>
            </tr>
            <tr>
              <th class="bg-gray">이메일</th>
              <td colspan="3">mail.@address.com</td>
            </tr>
          </tbody>
        </table>
        <div class="space-vertical"></div>
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:140px;">
            <col>
            <col style="width:140px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">분석장비</th>
              <td>AAS</td>
              <th class="bg-gray">장비담당자</th>
              <td>홍길동</td>
            </tr>
            <tr>
              <th class="bg-gray">시료명</th>
              <td>세포배양액</td>
              <th class="bg-gray">시료수</th>
              <td>12</td>
            </tr>
            <tr>
              <th class="bg-gray">시료양</th>
              <td>0.5ml, 5ml</td>
              <th class="bg-gray">분석결과단위</th>
              <td></td>
            </tr>
            <tr>
              <th class="bg-gray">성적서 발급신청 </th>
              <td colspan="3">
                KOLAS 공인성적서 ( 시험규격번호 : KS D 8544:2016 )<br>
                <br>
                <span class="color-danger">※ 본 시험 성적서는 광고, 선전, 홍보 및 법적쟁송의 수단으로 상용할 수 없습니다. </span>
              </td>
            </tr>
            <tr>
              <th class="bg-gray">시험 요청사항</th>
              <td colspan="3">DMSO 분석 의뢰를 요청 드립니다. </td>
            </tr>
            <tr>
              <th class="bg-gray">시험규격및 방법 </th>
              <td>HPLC - 전세연</td>
              <th class="bg-gray">성적서 신청</th>
              <td>국문 : 1매  &nbsp;|&nbsp;   영문 : 0매   &nbsp;|&nbsp;  부문 : 0매</td>
            </tr>
            <tr>
              <th class="bg-gray">시험 후 시료처리</th>
              <td></td>
              <th class="bg-gray">보관기간 </th>
              <td></td>
            </tr>
          </tbody>
        </table>
        
        <div class="space-vertical"></div>
        <h4>결제정보 및 전자 계산서 정보</h4>
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:140px;">
            <col>
            <col style="width:140px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">가상계좌번호</th>
              <td colspan="3" class="color-primary">우리은행  123-34675-56789</td>
            </tr>
            <tr>
              <th class="bg-gray">입금일</th>
              <td>2018-08-30</td>
              <th class="bg-gray">전자계산서 담당자</th>
              <td>김승미</td>
            </tr>
            <tr>
              <th class="bg-gray">계산서발행일</th>
              <td>2018-08-30</td>
              <th class="bg-gray">담당자 이메일</th>
              <td>8150815@hanmail.net</td>
            </tr>
            <tr>
              <th class="bg-gray">카드승인일</th>
              <td>2018-08-30</td>
              <th class="bg-gray">담당자 연락처</th>
              <td>010-1234-1231</td>
            </tr>
          </tbody>
        </table>
        
        <div class="space-vertical"></div>
        <h4>사업자 등록증 정보</h4>
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:140px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">등록번호</th>
              <td>1098802974</td>
            </tr>
            <tr>
              <th class="bg-gray">상호(법인명)</th>
              <td>클립스</td>
            </tr>
            <tr>
              <th class="bg-gray">대표자</th>
              <td>홍길동</td>
            </tr>
            <tr>
              <th class="bg-gray">업태∙종목</th>
              <td>서비스업-서비스업</td>
            </tr>
            <tr>
              <th class="bg-gray">사업장주소</th>
              <td>서울특별시 영등포구 여의도동 00번지 </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>
</div>
<!-- //row -->

<div class="row">
  <div class="col-sm-6">
  </div>
  <div class="col-sm-6 text-right">
    <a href="<%= jsonData.pages[page].children[sub].links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-list" aria-hidden="true"></i> 목록</a>
  </div>
</div>