<%
    page = "achievement"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-6"></div>
  <div class="col-sm-6 text-right">
    <a href="<%= jsonData.pages[page].children[sub].links[3] %>" class="btn btn-success btn-flat"><i class="fa fa-pencil" aria-hidden="true"></i> 등록</a>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="pull-right">
          <div class="form-inline">
            <div class="input-group">
              <select class="form-control">
                <option value="">소속</option>
                <option value="">연구원 이름</option>
              </select>
            </div>
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[1] %>'"><span class="fa fa-search" aria-hidden="true"></span><span class="text-hide">검색</span></button>
              </span>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="space-vertical"></div>
        <table class="table board-table">
          <thead>
            <tr>
              <th class="text-center" style="width:60px;">번호</th>
              <th class="text-center" style="width:100px;">소속</th>
              <th class="text-center">제목</th>
              <th class="text-center" style="width:100px;">등록일</th>
              <th class="text-center" style="width:100px;">조회수</th>
              <th class="text-center" style="width:100px;">상세</th>
            </tr>
          </thead>
          <tbody>
            <% for (i=10; i > 0; i--) { %>
            <tr>
              <td class="text-center"><%= i %></td>
              <td class="text-center">전자현미경</td>
              <td><span class="board-nowrap">미세입자 분말 미량 무게 측정 주입 장치 미세입자 분말 미량 무게 측정 주입 장치 미세입자 분말 미량 무게 측정 주입 장치 미세입자 분말 미량 무게 측정 주입 장치 미세입자 분말 미량 무게 측정 주입 장치</span></td>
              <td class="text-center">2017-11-21</td>
              <td class="text-center">275</td>
              <td class="text-center"><a href="<%= jsonData.pages[page].children[sub].links[2] %>" class="btn btn-default btn-xs btn-flat">보기<i class="fa fa-angle-right"></i></a></td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% include ../_include/_pagination %>
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>