<%
    page = "achievement"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-6"></div>
  <div class="col-sm-6 text-right">
    <button type="button" class="btn btn-success btn-flat" data-toggle="modal" data-target="#modal1"><i class="fa fa-plus-circle" aria-hidden="true"></i> 연구원 추가</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="pull-left">
          ※ 연구원은 각 팀 별 최대 10명까지 등록하실 수 있으며<br>&nbsp;&nbsp;&nbsp;&nbsp;10명 이상일 경우 연구원 추가 시 사용유무 '미사용'으로 등록됩니다. 
        </div>
        <div class="pull-right">
          <div class="form-inline">
            <div class="input-group">
              <select class="form-control">
                <option value="">소속</option>
                <option value="">전자현미경</option>
                <option value="">구조/표면</option>
                <option value="">IBM</option>
                <option value="">NMR</option>
              </select>
            </div>
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[1] %>'"><span class="fa fa-search" aria-hidden="true"></span><span class="text-hide">검색</span></button>
              </span>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="space-vertical"></div>
        <table class="table board-table">
          <thead>
            <tr>
              <th class="text-center">소속</th>
              <th class="text-center">연구원이름</th>
              <th class="text-center">직급</th>
              <th class="text-center">분류</th>
              <th class="text-center">전화번호</th>
              <th class="text-center">사용유무</th>
            </tr>
          </thead>
          <tbody>
            <% for (i=10; i > 0; i--) { %>
            <tr>
              <td class="text-center">전자현미경</td>
              <td class="text-center">홍길동</td>
              <td class="text-center">책임연구원</td>
              <td class="text-center">연구원</td>
              <td class="text-center">02-958-1111</td>
              <td class="text-center">
                <label class="radio-inline"><span class="form-radio"><input type="radio" name="" id=""><i></i></span> 사용</label>
                <label class="radio-inline"><span class="form-radio"><input type="radio" name="" id=""><i></i></span> 미사용</label>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% include ../_include/_pagination %>
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-90p">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">연구원 추가</h4>
      </div>
      <div class="modal-body">
        <div class="form-inline">
          1. 소속을 선택해 주세요.
          <div class="input-group">
            <select class="form-control">
              <option value="">소속선택</option>
              <option value="">전자현미경</option>
              <option value="">구조/표면</option>
              <option value="">IBM</option>
              <option value="">NMR</option>
            </select>
          </div>
          <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary" onclick="">찾기</button>
            </span>
          </div>
        </div>

        <div class="space-vertical"></div>

        <hr>

        <p>2. 연구성과를 등록할 연구원을 선택해 주세요.</p>

        <div class="height-fixed" style="max-height:297px;">
          <table class="table board-table">
            <thead>
              <tr>
                <th class="text-center">소속</th>
                <th class="text-center">연구원이름</th>
                <th class="text-center">직급</th>
                <th class="text-center">분류</th>
                <th class="text-center">전화번호</th>
                <th class="text-center" style="width:100px">선택</th>
              </tr>
            </thead>
            <tbody>
              <% for (i=10; i > 0; i--) { %>
              <tr>
                <td class="text-center">전자현미경</td>
                <td class="text-center">홍길동</td>
                <td class="text-center">책임연구원</td>
                <td class="text-center">연구원</td>
                <td class="text-center">02-958-1111</td>
                <td class="text-center"><button type="button" class="btn btn-default btn-xs btn-flat" data-dismiss="modal" aria-label="Close">선택</a></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-primary" data-dismiss="modal">확인</button>
      </div>
    </div>
  </div>
</div>