<%
    page = "gears"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-6">
    <div class="block-flat">
      <div class="header">
        <h3>장비 기본정보</h3>
      </div>
      <div class="content">
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:120px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">대표이미지</th>
              <td><button type="button" class="btn btn-flat btn-xs btn-default" data-toggle="modal" data-target="#viewPic"><i class="fa fa-file-image-o" aria-hidden="true"></i> nodo1_main_sample.jpg</button></td>
            </tr>
            <tr>
              <th class="bg-gray">장비명</th>
              <td>X선 회절기</td>
            </tr>
            <tr>
              <th class="bg-gray">상위분류</th>
              <td>상위분류</td>
            </tr>
            <tr>
              <th class="bg-gray">분류</th>
              <td>APT</td>
            </tr>
            <tr>
              <th class="bg-gray">모델명</th>
              <td>Dmax2500/PC</td>
            </tr>
            <tr>
              <th class="bg-gray">실험실</th>
              <td>L2334</td>
            </tr>
            <tr>
              <th class="bg-gray">전화번호</th>
              <td>02-958-1121</td>
            </tr>
            <tr>
              <th class="bg-gray">PDF</th>
              <td><a type="button" class="btn btn-xs btn-flat btn-default"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Digistar.pdf</a></td>
            </tr>
            <tr>
              <th class="bg-gray">상태</th>
              <td>정상운행</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- //block-flat -->
  </div>
  
  <div class="col-sm-6">
    <div class="block-flat">
      <div class="header">
        <h3>장비 상세정보</h3>
      </div>
      <div class="content">
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:120px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">Info</th>
              <td>Carbon, hydrogen, nitrogen, oxygen and sulfur are the basic elements of living nature.<br>………..<br>…</td>
            </tr>
            <tr>
              <th class="bg-gray">Specifications</th>
              <td>
                Accelerating voltage: 0.2~30 kV<br>
                Image resolution : 1.0nm<br>
                Magnification: 25 ~ 1,000,000 X
              </td>
            </tr>
            <tr>
              <th class="bg-gray">Applications</th>
              <td>
                STEM(Scaning Transmission Electron Microscopy) image<br>
                Low voltage Image
              </td>
            </tr>
            <tr>
              <th class="bg-gray">Applications Examples</th>
              <td>
                <button type="button" class="btn btn-flat btn-xs btn-default" data-toggle="modal" data-target="#viewPic"><i class="fa fa-file-image-o" aria-hidden="true"></i> low voltage Hr image.jpg</button>
                <button type="button" class="btn btn-flat btn-xs btn-default" data-toggle="modal" data-target="#viewPic"><i class="fa fa-file-image-o" aria-hidden="true"></i> STEM image.jpg</button>
                <button type="button" class="btn btn-flat btn-xs btn-default" data-toggle="modal" data-target="#viewPic"><i class="fa fa-file-image-o" aria-hidden="true"></i> SE&STEM image.jpg</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- //block-flat -->
  </div>

</div>
<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-flat btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> 삭제</button>
  </div>
  <div class="col-sm-6 text-right">
    <button type="button" class="btn btn-flat btn-primary" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[3] %>'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 수정</button>
    <a href="<%= jsonData.pages[page].children[sub].links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-list" aria-hidden="true"></i> 목록</a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="viewPic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">대표이미지</h4>
      </div>
      <div class="modal-body">
        <img src="http://crf.kangwon.ac.kr/pds/machImg/HR-XRD-MPA2.JPG" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-primary" data-dismiss="modal">확인</button>
      </div>
    </div>
  </div>
</div>
