<%
    page = "gears"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-6"></div>
  <div class="col-sm-6 text-right">
    <a href="<%= jsonData.pages[page].children[sub].links[3] %>" class="btn btn-success btn-flat"><i class="fa fa-pencil" aria-hidden="true"></i> 장비추가</a>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="pull-left">
          <div class="form-inline">
            <div class="input-group">
              <select class="form-control">
                <option value="">전체</option>
                <option value="">이용불가</option>
                <option value="">이용가능</option>
              </select>
            </div>
          </div>
        </div>
        <div class="pull-right">
          <div class="form-inline">
            <div class="input-group">
              <select class="form-control">
                <option value="">분류</option>
                <option value="">장비명</option>
              </select>
            </div>
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[1] %>'"><span class="fa fa-search" aria-hidden="true"></span><span class="text-hide">검색</span></button>
              </span>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="space-vertical"></div>
        <table class="table board-table">
          <thead>
            <tr>
              <th class="text-center" style="width:200px;">상위분류</th>
              <th class="text-center" style="width:400px;">분류</th>
              <th class="text-center">장비명</th>
              <th class="text-center" style="width:120px;">상태</th>
              <th class="text-center" style="width:100px;">상세</th>
            </tr>
          </thead>
          <tbody>
            <% for (i=10; i > 0; i--) { %>
            <tr>
              <td class="text-center">분석실1</td>
              <td class="text-center">AAS,DMA,UV/VIS?NIT spectrometer</td>
              <td>X선 회절기</td>
              <td class="text-center">
                <% if (i%3 == 0) { %>
                <span class="label label-success">이용가능</span>
                <% } else { %>
                <span class="label label-danger">이용불가</span>
                <% } %>
              </td>
              <td class="text-center"><a href="<%= jsonData.pages[page].children[sub].links[2] %>" class="btn btn-default btn-xs btn-flat">보기<i class="fa fa-angle-right"></i></a></td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% include ../_include/_pagination %>
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>