<%
    page = "gears"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-6">
    <div class="block-flat">
      <div class="header">
        <h3>장비 기본정보</h3>
      </div>
      <div class="content">
        <div class="pull-right">
          <button type="button" class="btn btn-sm btn-flat btn-info" data-toggle="modal" data-target="#modal1"><i class="fa fa-window-restore" aria-hidden="true"></i> 선택등록</button>
        </div>
        <div class="clearfix"></div>
        <div class="form">
          <div class="form-group">
            <label>대표이미지 <span class="hthin">(권장 이미지 사이즈 : 420 x 420 이상)</span></label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
            </div>
          </div>
          <div class="form-group">
            <label>장비명</label>
            <input type="text" placeholder="국문제품명" class="form-control">
          </div>
          <div class="form-group">
            <label>상위분류</label>
            <select name="" id="" class="form-control">
              <option value="">선택</option>
              <option value="">상위분류1</option>
              <option value="">상위분류2</option>
              <option value="">상위분류3</option>
            </select>
          </div>
          <div class="form-group">
            <label>분류</label>
            <select name="" id="" class="form-control">
              <option value="">선택</option>
              <option value="">APT</option>
              <option value="">Raman </option>
              <option value="">EPMA</option>
              <option value="">SEM</option>
              <option value="">FIB</option>
              <option value="">TEM</option>
              <option value="">TEM special equipments</option>
              <option value="">FTIR&CHNS Analyzer</option>
              <option value="">HPLC, IC&GC-FID</option>
              <option value="">ICP-OES,-MS</option>
              <option value="">AAS, DMA,UV/VIS?NIR spectrometer</option>
              <option value="">Femtosecond Laser Ablation</option>
              <option value="">NMR</option>
              <option value="">MS(MS/MS), 비임상 PK</option>
              <option value="">Accelerator</option>
              <option value="">Synchrotron</option>
              <option value="">USANS</option>
              <option value="">XRD,XAFS&SAXS</option>
              <option value="">XRF&EA</option>
              <option value="">AES naanoprobe&SMS</option>
              <option value="">AFM&nano-indenter</option>
              <option value="">XPS</option>
            </select>
          </div>
          <div class="form-group">
            <label>모델명</label>
            <input type="text" placeholder="모델명" class="form-control">
          </div>
          <div class="form-group">
            <label>실험실</label>
            <input type="text" placeholder="실험실" class="form-control">
          </div>
          <div class="form-group">
            <label>전화번호</label>
            <div class="form-inline">
              <div class="input-group">
                <div class="input-group">
                  <input size="3" maxlength="3" type="text" value="" class="form-control">
                </div>
                <span class="input-group-addon">-</span>
                <div class="input-group">
                  <input size="4" maxlength="4" type="text" value="" class="form-control">
                </div>
                <span class="input-group-addon">-</span>
                <div class="input-group">
                  <input size="4" maxlength="4" type="text" value="" class="form-control">
                </div>
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <label>PDF</label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
            </div>
          </div>
          
          <div class="form-group">
            <label>상태</label>
            <label class="radio-inline">
              <span class="form-radio"><input type="radio" name="inlineRadioOptions" id="" value="option1" checked><i></i></span> 정상운행
            </label>
            <label class="radio-inline">
              <span class="form-radio"><input type="radio" name="inlineRadioOptions" id="" value="option2"><i></i></span> 수리중
            </label>
          </div>
          
        </div>
        
      </div>
    </div>
    <!-- //block-flat -->
  </div>

  <div class="col-sm-6">
    <div class="block-flat">
      <div class="header">
        <h3>장비 상세정보</h3>
      </div>
      <div class="content">
        
        <div class="form">
          <div class="form-group">
            <label>Info</label>
            <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label>Specifications</label>
            <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label>Applications</label>
            <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label>Applications Examples</label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
            </div>
            <button type="button" class="btn btn-flat btn-default btn-xs" onclick="uploadAdd(this)"><i class="fa fa-plus" aria-hidden="true"></i> 추가</button>
          </div>
        </div>
        
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <a href="<%= jsonData.pages[page].children[sub].links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-times" aria-hidden="true"></i> 취소</a>
    <button type="button" class="btn btn-flat btn-success" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[0] %>'"><i class="fa fa-check" aria-hidden="true"></i> 등록</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-90p">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">제목</h4>
      </div>
      <div class="modal-body">
        <div class="height-fixed" style="max-height:186px;">
          <table class="table board-table">
            <thead>
              <tr>
                <th class="text-center">장비명</th>
                <th class="text-center">모델명</th>
                <th class="text-center">실험실</th>
                <th class="text-center" style="width:100px;">선택등록</th>
              </tr>
            </thead>
            <tbody>
              <% for (i=10; i > 0; i--) { %>
              <tr>
                <td class="text-center">X선 회절기</td>
                <td class="text-center">Dmax2500/PC</td>
                <td class="text-center">L2334</td>
                <td class="text-center"><button type="button" class="btn btn-default btn-xs btn-flat" data-dismiss="modal" aria-label="Close">선택</a></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-primary" data-dismiss="modal">확인</button>
      </div>
    </div>
  </div>
</div>
