<%
    page = "main"
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-6">
    <div class="block-flat">
      <div class="header">
        <div class="pull-left">
          <h3>분석의뢰</h3>
        </div>
        <div class="pull-right">
          <a href="" class="btn btn-default btn-flat">더보기<i class="fa fa-angle-right"></i></a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="content">
        <table class="table board-table">
          <thead>
            <tr>
              <th class="text-center">접수번호</th>
              <th class="text-center">의뢰자명</th>
              <th class="text-center">의뢰일</th>
              <th class="text-center">진행상태</th>
            </tr>
          </thead>
          <tbody>
            <% for (i=3; i > 0; i--) { %>
            <tr>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center">
                <% if (i%2 == 0) { %>
                <span class="label label-success">분석완료</span>
                <% } else { %>
                <span class="label label-warning">입금의뢰</span>
                <% } %>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- //block-flat -->
  </div>
  <!-- //col-sm-6 -->
  
  <div class="col-sm-6">
    <div class="block-flat">
      <div class="header">
        <div class="pull-left">
          <h3>공지사항</h3>
        </div>
        <div class="pull-right">
          <a href="" class="btn btn-default btn-flat">더보기<i class="fa fa-angle-right"></i></a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="content">
        <table class="table board-table">
          <thead>
            <tr>
              <th class="text-center">제목</th>
              <th class="text-center" style="width:100px;">등록일</th>
              <th class="text-center" style="width:80px;">조회</th>
            </tr>
          </thead>
          <tbody>
            <% for (i=3; i > 0; i--) { %>
            <tr>
              <td><span class="board-nowrap">제 1회 현미경을 이용한 전기계측 워크숍 안내 제 1회 현미경을 이용한 전기계측 워크숍 안내</span></td>
              <td class="text-center">2018-02-02</td>
              <td class="text-center">23423</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- //block-flat -->
  </div>
  <!-- //col-sm-6 -->
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="block-flat">
      <div class="header">
        <div class="pull-left">
          <h3>교육관리</h3>
        </div>
        <div class="pull-right">
          <a href="" class="btn btn-default btn-flat">더보기<i class="fa fa-angle-right"></i></a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="content">
        <table class="table board-table">
          <thead>
            <tr>
              <th class="text-center" style="width:80px;">상태</th>
              <th class="text-center">교육명</th>
              <th class="text-center" style="width:200px;">교육시간</th>
            </tr>
          </thead>
          <tbody>
            <% for (i=3; i > 0; i--) { %>
            <tr>
              <td class="text-center">
                <% if (i%3 == 0) { %>
                <span class="label label-success">접수중</span>
                <% } else if (i%2 == 0) { %>
                <span class="label label-warning">접수대기</span>
                <% } else { %>
                <span class="label label-default">접수마감</span>
                <% } %>
              </td>
              <td><span class="board-nowrap">무기원소 분석에 이론 및 실습</span></td>
              <td class="text-center">2017-11-21 / 14:30~16:00</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- //block-flat -->
  </div>
  <!-- //col-sm-6 -->
  
  <div class="col-sm-6">
    <div class="block-flat">
      <div class="header">
        <div class="pull-left">
          <h3>Q &amp; A</h3>
        </div>
        <div class="pull-right">
          <a href="" class="btn btn-default btn-flat">더보기<i class="fa fa-angle-right"></i></a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="content">
        <table class="table board-table">
          <thead>
            <tr>
              <th class="text-center" style="width:80px;">상태</th>
              <th class="text-center">제목</th>
              <th class="text-center" style="width:100px;">등록자</th>
              <th class="text-center" style="width:100px;">등록일</th>
            </tr>
          </thead>
          <tbody>
            <% for (i=3; i > 0; i--) { %>
            <tr>
              <td class="text-center">
                <% if (i%2 == 0) { %>
                <span class="label label-warning">답변대기</span>
                <% } else { %>
                <span class="label label-success">답변완료</span>
                <% } %>
              </td>
              <td><span class="board-nowrap">유기물 분석 의뢰에 관한 상담요청</span></td>
              <td class="text-center">관리자</td>
              <td class="text-center">2017-11-21</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- //block-flat -->
  </div>
  <!-- //col-sm-6 -->
</div>