.table { table-layout:fixed; }
.table.no-border th { border-left:1px solid #dadada; }

.table-lg th,
.table-lg td { height:55px;}

.table-double tr:nth-child(2n-1) td { border-top-style:double; border-top-color:darken(#ddd,20%);}

.board-table { table-layout:fixed;}
// .board-table>thead:first-child>tr:last-child>th,
// .board-table>colgroup+thead>tr:last-child>th { border-bottom:2px solid #43A0F2; }
.board-table>thead+tbody>tr:first-child,
.board-table>thead+tbody>tr:first-child { border-top:2px solid #43A0F2; }
.board-table>thead>tr>th,
.board-table>thead>tr>td,
.board-table>tbody>tr>th,
.board-table>tbody>tr>td,
.board-table>tfoot>tr>th,
.board-table>tfoot>tr>td { vertical-align:middle;}


.board-article { margin:15px 0;
  img { max-width:100%; }
  p { margin-top:0; margin-bottom:0; }
}

.board-foot { margin-top:15px; text-align:center; 
  &:before,
  &:after { display:table; content:''; }
	&:after {
    clear: both;
  }
}

.board-foot-border { border-top:1px solid #dadada; margin-top:30px; padding-top:15px;}

.board-empty { text-align:center; height:200px; vertical-align:middle !important;}

.board-link { display:inline-block; position:relative; vertical-align:middle; 
  &>a {
    &:focus,
    &:hover { color:#43A0F2; text-decoration:underline; 
      &:after { text-decoration:none;}
    }
  }
}

.board-new {
  &:after { display:inline-block; content:'새로운글'; height:1em; margin-left:5px; padding: 2px 7px  1px; border: 1px solid #e5e5e5; border-radius: 10px; background-color: #fff; font-size: 11px; color: #888; line-height: 1; text-decoration:none !important;}
}

.board-photo { padding-left:28px; 
  &:before { position:absolute; top:0; bottom:0; left:0; width:19px; height:16px; margin:auto; /*background:url(../images/common/ico-photo1.png) no-repeat;*/ content:''; }
}

.board-nowrap { position:relative; display:inline-block; box-sizing:border-box; width:100%; overflow:hidden; text-overflow: ellipsis; white-space:nowrap;
  &:nth-child(n) { width:auto; max-width:100%; }
  &.board-new { padding-right:60px; 
    &:after { position:absolute; right:0; }
  }
}

.upload img,
.table>tbody>tr>td img { background-color:#000; }