<%
    page = "homepage"
    sub = 2
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="pull-right">
          <div class="input-group">
            <a href="<%= jsonData.pages[page].children[sub].links[3] %>" class="btn btn-primary btn-flat"><i class="fa fa-download" aria-hidden="true"></i> 엑셀다운로드</a>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="space-vertical"></div>
        <div class="pull-right">
          <div class="form-inline">

            <div class="input-group">
              <div data-min-view="2" data-date-format="yyyy-mm-dd" class="input-group date datetime date-width-default" data-link-field="dtp_input1">
                <input size="16" type="text" value="" readonly="" class="form-control">
                <span class="input-group-addon input-group-addon-transparent"><span class="glyphicon glyphicon-th hide"></span><i class="fa fa-calendar" aria-hidden="true"></i></span>
              </div>
              <span class="input-group-addon">~</span>
              <div data-min-view="2" data-date-format="yyyy-mm-dd" class="input-group date datetime date-width-default" data-link-field="dtp_input1">
                <input size="16" type="text" value="" readonly="" class="form-control">
                <span class="input-group-addon input-group-addon-transparent"><span class="glyphicon glyphicon-th hide"></span><i class="fa fa-calendar" aria-hidden="true"></i></span>
              </div>
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[1] %>'"><span class="fa fa-search" aria-hidden="true"></span><span class="text-hide">검색</span></button>
              </span>
            </div>

          </div>
        </div>
        <div class="clearfix"></div>
        <div class="space-vertical"></div>
        <table class="table board-table">
          <thead>
            <tr>
              <th class="text-center" style="width:60px;">번호</th>
              <th class="text-center">소속</th>
              <th class="text-center" style="width:100px;">이용자명</th>
              <th class="text-center" style="width:150px;">이용자IP(계정)</th>
              <th class="text-center" style="width:300px;">열람 개인정보</th>
              <th class="text-center" style="width:150px;">접속일자</th>
              <th class="text-center" style="width:150px;">비고</th>
            </tr>
          </thead>
          <tbody>
            <% for (i=10; i > 0; i--) { %>
            <tr>
              <td class="text-center"><%= i %></td>
              <td class="text-center">특성분석센터</td>
              <td class="text-center">홍길동</td>
              <td class="text-center">111.112.11.11</td>
              <td class="text-center"></td>
              <td class="text-center">2018.01.11</td>
              <td class="text-center"></td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% include ../_include/_pagination %>
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>