<%
    page = "homepage"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">

        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:120px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">제목</th>
              <td>연구장비 공동활용 지원사업안내</td>
            </tr>
            <tr>
              <th class="bg-gray">배너 이미지<br>(국문PC)</th>
              <td><img src="https://aac.kist.re.kr/resources/images/main/rolling/rolling-01.jpg" alt=""></td>
            </tr>
            <tr>
              <th class="bg-gray">배너 이미지<br>(영문PC)</th>
              <td><img src="https://aac.kist.re.kr/resources/images/main/rolling/rolling-01.jpg" alt=""></td>
            </tr>
            <tr>
              <th class="bg-gray">배너 이미지<br>(국문mobile)</th>
              <td><img src="https://aac.kist.re.kr/resources/images/main/rolling/rolling-01.jpg" alt=""></td>
            </tr>
            <tr>
              <th class="bg-gray">배너 이미지<br>(영문mobile)</th>
              <td><img src="https://aac.kist.re.kr/resources/images/main/rolling/rolling-01.jpg" alt=""></td>
            </tr>
            <tr>
              <th class="bg-gray">국문링크</th>
              <td><i class="fa fa-file-o" aria-hidden="true"></i> <a href="https://aac.kist.re.kr/" target="_blank" class="link">https://aac.kist.re.kr/</a></td>
            </tr>
            <tr>
              <th class="bg-gray">영문링크</th>
              <td><i class="fa fa-file-o" aria-hidden="true"></i> <a href="https://aac.kist.re.kr/" target="_blank" class="link">https://aac.kist.re.kr/</a></td>
            </tr>
            <tr>
              <th class="bg-gray">등록일</th>
              <td>2017-12-12</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <!-- //block-flat -->
  </div>

</div>
<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-flat btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> 삭제</button>
  </div>
  <div class="col-sm-6 text-right">
    <a href="<%= jsonData.pages[page].children[sub].links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-list" aria-hidden="true"></i> 목록</a>
  </div>
</div>