<%
    page = "homepage"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="form">
          <div class="form-group">
            <label>제목</label>
            <input type="text" placeholder="제목" class="form-control">
          </div>
          <div class="form-group">
            <label>배너이미지(국문PC)</label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload-display">
                  <img src="https://aac.kist.re.kr/resources/images/main/rolling/rolling-01.jpg" alt="" class="upload-thumb" onclick="uploadThumb(this)">
                </div>
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly" value="20160905072349228_NVHMJXHH.jpg">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
            </div>
          </div>
          
          <div class="form-group">
            <label>배너이미지(영문PC)</label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
            </div>
          </div>
          
          <div class="form-group">
            <label>배너이미지(국문mobile)</label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
            </div>
          </div>
          
          <div class="form-group">
            <label>배너이미지(영문mobile)</label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
            </div>
          </div>
          
          <div class="form-group">
            <label>국문링크</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          
          <div class="form-group">
            <label>영문링크</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          

        
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <a href="<%= jsonData.pages[page].children[sub].links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-times" aria-hidden="true"></i> 취소</a>
    <button type="button" class="btn btn-flat btn-success" onclick="window.location.href='<%= jsonData.pages[page].children[sub].links[0] %>'"><i class="fa fa-check" aria-hidden="true"></i> 등록</button>
  </div>
</div>