<%
    page = "homepage"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-6"></div>
  <div class="col-sm-6 text-right">
    <a href="<%= jsonData.pages[page].children[sub].links[3] %>" class="btn btn-success btn-flat"><i class="fa fa-pencil" aria-hidden="true"></i> 추가</a>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <table class="table board-table">
          <thead>
            <tr>
              <th class="text-center" style="width:60px;">선택</th>
              <th class="text-center">제목</th>
              <th class="text-center" style="width:300px;">배너 이미지</th>
              <th class="text-center" style="width:100px;">등록일</th>
              <th class="text-center" style="width:100px;">상세</th>
            </tr>
          </thead>
          <tbody>
            <% for (i=10; i > 0; i--) { %>
            <tr>
              <td class="text-center"><label class="form-checkbox"><input type="checkbox" name="" id=""><i></i></label></td>
              <td>연구장비 공동활용 지원사업안내</td>
              <td class="text-center">
                <button type="button" class="btn btn-default btn-xs btn-flat" data-toggle="modal" data-target="#viewDoc">국문PC</button>
                <button type="button" class="btn btn-default btn-xs btn-flat" data-toggle="modal" data-target="#viewDoc">영문PC</button>
                <button type="button" class="btn btn-default btn-xs btn-flat" data-toggle="modal" data-target="#viewDoc">국문mobile</button>
                <button type="button" class="btn btn-default btn-xs btn-flat" data-toggle="modal" data-target="#viewDoc">영문mobile</button>
              </td>
              <td class="text-center">2018-02-02</td>
              <td class="text-center"><a href="<%= jsonData.pages[page].children[sub].links[2] %>" class="btn btn-default btn-xs btn-flat">보기<i class="fa fa-angle-right"></i></a></td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% include ../_include/_pagination %>
        <div class="pull-left">
          <button type="button" class="btn btn-danger btn-flat"><i class="fa fa-trash" aria-hidden="true"></i> 선택삭제</button>
          <button type="button" class="btn btn-danger btn-flat"><i class="fa fa-check-square" aria-hidden="true"></i> 전체선택</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="viewDoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-90p">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">배너 이미지</h4>
      </div>
      <div class="modal-body">
        <img src="https://aac.kist.re.kr/resources/images/main/rolling/rolling-01.jpg" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-primary" data-dismiss="modal">확인</button>
      </div>
    </div>
  </div>
</div>