<%
    page = "homepage"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>

<div class="tab-container">
  <ul class="nav nav-tabs">
    <li class="active"><a href="<%= jsonData.pages[page].children[sub].links[0] %>">PC</a></li>
    <li><a href="<%= jsonData.pages[page].children[sub].links[3] %>">Mobile</a></li>
  </ul>
  <!-- //nav -->
  <div class="tab-content">
    <h3 class="hthin">국문</h3>
    <table class="table no-strip table-bordered">
      <colgroup>
        <col style="width:150px;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <th class="active">Background 이미지</th>
          <td>
            <img src="../../images/common/blank.png" alt="" data-src="https://i.imgur.com/uzJcSq7.jpg" class="js-lazy-img js-toggle-img">
          </td>
        </tr>
        <tr>
          <th class="active">배경 텍스트 이미지</th>
          <td>
            <img src="../../images/common/blank.png" alt="" data-src="https://i.imgur.com/uzJcSq7.jpg" class="js-lazy-img js-toggle-img">
          </td>
        </tr>
      </tbody>
    </table>
    
    <div class="space-vertical"></div>
    
    <h3 class="hthin">영문</h3>
    <table class="table no-strip table-bordered">
      <colgroup>
        <col style="width:150px;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <th class="active">Background 이미지</th>
          <td>
            <img src="../../images/common/blank.png" alt="" data-src="https://i.imgur.com/uzJcSq7.jpg" class="js-lazy-img js-toggle-img">
          </td>
        </tr>
        <tr>
          <th class="active">배경 텍스트 이미지</th>
          <td>
            <img src="../../images/common/blank.png" alt="" data-src="https://i.imgur.com/uzJcSq7.jpg" class="js-lazy-img js-toggle-img">
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
  <!-- //tab-content -->
</div>
<!-- //tab-container -->

<div class="row">
  <div class="col-sm-12 text-center">
    <button type="button" class="btn btn-flat btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> 삭제</button>
    <button type="button" class="btn btn-flat btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 수정</button>
  </div>
</div>