<%
    page = "homepage"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>

<div class="tab-container">
  <ul class="nav nav-tabs">
    <li class="active"><a href="<%= jsonData.pages[page].children[sub].links[0] %>">PC</a></li>
    <li><a href="<%= jsonData.pages[page].children[sub].links[3] %>">Mobile</a></li>
  </ul>
  <!-- //nav -->
  <div class="tab-content">
    <h3 class="hthin">국문</h3>
    <table class="table no-strip table-bordered">
      <colgroup>
        <col style="width:150px;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <th class="active">Background 이미지</th>
          <td>
            <p class="text-warning">
              권장 이미지 사이즈 : 1920 x 1280<br>
              100MB 이내 이미지를 등록할 수 있습니다.
            </p>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload-display">
                  <img src="../../images/common/blank.png" alt="" data-src="https://i.imgur.com/uzJcSq7.jpg" class="js-lazy-img js-toggle-img">
                </div>
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
            </div>
          </td>
        </tr>
        <tr>
          <th class="active">배경 텍스트 이미지</th>
          <td>
            <p class="text-warning">
              권장 이미지 사이즈 : 1920 x 1280<br>
              100MB 이내 이미지를 등록할 수 있습니다.
            </p>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload-display">
                  <img src="../../images/common/blank.png" alt="" data-src="https://i.imgur.com/uzJcSq7.jpg" class="js-lazy-img js-toggle-img">
                </div>
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    
    <div class="space-vertical"></div>
    
    <h3 class="hthin">영문</h3>
    <table class="table no-strip table-bordered">
      <colgroup>
        <col style="width:150px;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <th class="active">Background 이미지</th>
          <td>
            <p class="text-warning">
              권장 이미지 사이즈 : 1920 x 1280<br>
              100MB 이내 이미지를 등록할 수 있습니다.
            </p>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload-display">
                  <img src="../../images/common/blank.png" alt="" data-src="https://i.imgur.com/uzJcSq7.jpg" class="js-lazy-img js-toggle-img">
                </div>
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
            </div>
          </td>
        </tr>
        <tr>
          <th class="active">배경 텍스트 이미지</th>
          <td>
            <p class="text-warning">
              권장 이미지 사이즈 : 1920 x 1280<br>
              100MB 이내 이미지를 등록할 수 있습니다.
            </p>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload-display">
                  <img src="../../images/common/blank.png" alt="" data-src="https://i.imgur.com/uzJcSq7.jpg" class="js-lazy-img js-toggle-img">
                </div>
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
  <!-- //tab-content -->
</div>
<!-- //tab-container -->

<div class="row">
  <div class="col-sm-12 text-center">
    <a href="" class="btn btn-flat btn-default"><i class="fa fa-times" aria-hidden="true"></i> 취소</a>
    <button type="button" class="btn btn-flat btn-success"><i class="fa fa-check" aria-hidden="true"></i> 수정</button>
  </div>
</div>